VITE_BACKEND_ROOT=http://localhost:8000/platform
VITE_API_ROOT=http://localhost:8000/platform/api/v1
VITE_CREDENTIALS=include
VITE_ENVIRONMENT=dev
VITE_MATOMO_ID=
VITE_OBSERVATION_DAYS=15
VITE_CONTACT_EMAIL=
