asgiref==3.7.2
astroid==3.0.2
asttokens==2.4.1
black==23.12.1
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.1
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
distlib==0.3.8
Django==5.0.1
django-anymail==10.2
django-ckeditor==6.7.0
django-filter==23.5
django-js-asset==2.2.0
django-simple-history==3.4.0
django-webpack-loader==3.0.1
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
drf-base64==2.0
executing==2.0.1
factory-boy==3.3.0
Faker==22.4.0
filelock==3.13.1
fonttools==4.47.2
identify==2.5.33
idna==3.6
ipykernel==6.29.0
ipython==8.20.0
isort==5.13.2
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nodeenv==1.8.0
numpy==1.26.3
packaging==23.2
pandas==2.2.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
pipdeptree==2.13.2
platformdirs==4.1.0
pre-commit==3.6.0
prompt-toolkit==3.0.43
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
requests-mock==1.11.0
seaborn==0.13.1
sib-api-v3-sdk==7.6.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
tomli==2.0.1
tomlkit==0.12.3
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
virtualenv==20.25.0
wcwidth==0.2.13
