{% extends 'base.html' %}
{% block title %}Email de création de compte envoyé{% endblock %}

{% load static %}

{% block content %}
    <h2>Nous avons envoyé un email à votre adresse</h2>
    <div class="text-left">
        <p>Cliquez sur le lien pour activer votre compte.</p>
        <p>Vérifiez votre dossier spam, vos courriers indésirables, ou tout autre dossier pour voir si le message a été filtré par votre fournisseur de messagerie. </p>
    </div>
    <hr aria-hidden="true" />
    <form method="post" action="{% url 'web:registration_email' %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit">Renvoyer email de confirmation</button>
    </form>
    <a href="/"><button class="mt-10">Accèder</button></a>
{% endblock %}
