{% extends 'base.html' %}
{% block title %}Créer mon compte{% endblock %}
{% load static %}

{% block content %}
    <form role="form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error-container">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in form %}
        <div class="control-group">
            <label class="control-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <p class="inline-error-container">
                    {{ error | safe }}
                </p>
                {% endfor %}
            </div>
        {% endfor %}

        <hr aria-hidden="true" />

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="d-block">S'inscrire</button>
            </div>
        </div>

    </form>
    <div>
        <a href="{% url 'web:login' %}">J'ai déjà un compte</a>
    </div>

{% endblock %}
