{% extends 'base.html' %}
{% block title %}Import de fichiers{% endblock %}

{% load static %}

{% block content %}
    <!-- List of uploaded documents -->

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h2> Import de fichiers dans la base de donnée ingrédients</h2>
            <form role="form" method="post" enctype="multipart/form-data" action="{% url 'web:file_upload' %}">
                {% csrf_token %}

                {{form.file.label_tag }}
                {{form.file}}

                <br><br>
                <br><br>

                {{ form.file_type.label_tag }}
                {{ form.file_type }}
                <br><br>
                <br><br>

                {{ form.export_date.label_tag }}
                {{ form.export_date }}
                <br><br>
                <br><br>

                <button type="submit">Importer</button>

            </form>
        {% else %}
        <p>Vous devez avoir les droits de modifications de la base de donnée ingrédients.</p>
        {% endif %}
    {% else %}
    <p>Vous devez être identifié.e et avoir les droits de modifications de la base de donnée ingrédients.</p>
    <div>
        <a href="{% url 'login' %}?next={{request.path}}">S'identifier</a>
    </div>
    {% endif %}
{% endblock %}
