{% load render_bundle from webpack_loader %}
{% load environment %}
{% load static %}
{% load analytics %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static 'images/favicon-marianne.png' %}">

    <title>Compl'Alim</title>
    <meta name="description" content="Compléments alimentaires">
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.ENVIRONMENT = "{% environment %}";
        window.MATOMO_ID = "{% matomo_id %}";
        window.OBSERVATION_DAYS = parseInt("{% observation_days %}", 10);
        window.CONTACT_EMAIL = "{% contact_email %}";
    </script>
</head>

<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app">
        {% render_bundle 'app' %}
    </div>
</body>

</html>
