{% extends 'certificates/certificate-base-template.html' %}
{% block 'body' %}
<h1 style="text-align: center; font-family: 'Marianne-Bold'; font-weight: bold;">
    ACCUSÉ D'ENREGISTREMENT
</h1>
<div style="font-size: 1.2em;">
    <p>
        Madame, Monsieur,
    </p>
    <p>
        Le {{ last_submission_date|date:"l j F Y" }} vous avez déclaré par voie électronique le produit suivant :
    </p>
    <p style="text-align: center; font-family: 'Marianne-Bold'; font-weight: bold;">
        {{ declaration.name }}<br />
        {{ declaration.description }}<br />
    </p>
    <p>Votre dossier porte le numéro : {{ declaration.id }}</p>
    <p>
        Cette déclaration a été effectuée au titre de l’article 15 du décret n°2006-352 du 20 mars 2006 relatif aux
        compléments alimentaires, pour le compte de la société <span style="font-family: 'Marianne-Bold'; font-weight: bold;">
            {{ declaration.company.social_name }}
        </span>.
    </p>
    <p>
        Nous vous rappelons qu’il est de votre responsabilité de déclarer et mettre en marché un produit conforme à la
        réglementation applicable aux denrées alimentaires (notamment les règlements (CE) n°178/2002, (UE) n°1169/ 2011 et
        n°2283/2015).
    </p>
    <p>
        Sauf incomplétude du dossier de déclaration, examen défavorable par nos services, ou contrordre de votre part,
        votre produit fera l’objet, sous deux mois, d’une attestation de déclaration et d’une inscription à la liste des
        compléments alimentaires.
    </p>

    <p>
        Pour tout renseignement d’ordre général sur le cadre réglementaire applicable aux compléments alimentaires, nous
        vous invitons à vous rendre sur le site de la DGAL à l’adresse suivante :
        <a href="https://agriculture.gouv.fr/quest-ce-quun-complement-alimentaire">
            https://agriculture.gouv.fr/quest-ce-quun-complement-alimentaire
        </a>.
    </p>
</div>
{% endblock %}
