{% extends 'certificates/certificate-base-template.html' %}
{% block 'body' %}
<h1 style="text-align: center; font-family: 'Marianne-Bold'; font-weight: bold;">
    ATTESTATION DE DÉCLARATION<br />
    D’UN COMPLÉMENT ALIMENTAIRE
</h1>
<div style="font-size: 1.2em;">
    <p>
        La Direction générale de l'alimentation (DGAL) atteste que
        <span style="text-align: center; font-family: 'Marianne-Bold'; font-weight: bold;">
            {% if declaration.mandated_company %}
            l'entreprise mandataire {{ declaration.mandated_company.social_name }}
            {% elif declaration.company %}
            {{ declaration.company.social_name }}
            {% endif %}
        </span>
        a effectué, le {{ last_submission_date|date:"l j F Y" }}, la déclaration pour le produit :
    </p>
    <p style="text-align: center; font-family: 'Marianne-Bold'; font-weight: bold;">
        {{ declaration.name }}
        {% if declaration.galenic_formulation %}
        <br />{{ declaration.galenic_formulation.name }}
        {% endif %}
        {% if declaration.company %}
        <br />{{ declaration.company.social_name }}
        {% endif %}
    </p>
    <p>
        Cette déclaration enregistre un ou plusieurs ingrédient(s) avec dépassement de doses maximum autorisées
        pour la population générale. Elle va faire l'objet d'une étude approfondie par nos services
        avant potentielle acceptation. Elle est enregistrée sous le numéro
        <span style="font-family: 'Marianne-Bold'; font-weight: bold;">
            {{ declaration.id }}
        </span>.
    </p>
    <p style="font-family: 'Marianne-Bold'; font-weight: bold;">
        Cette attestation ne constitue donc pas une garantie de conformité aux dispositions en
        vigueur ni une autorisation de mise sur le marché.
    </p>
    <p>
        Votre produit reste consultable à l’adresse suivante :
        <a href="{{ declaration.producer_url }}">{{ declaration.producer_url }}</a>.
        Il pourra faire l’objet de contrôles de l’administration.
    </p>
    <p>
        Conformément aux dispositions de l’article 17 du règlement (CE) n° 178/2002 établissant les principes généraux
        et les prescriptions générales de la législation alimentaire, il vous incombe de veiller à ce que le complément
        alimentaire que vous mettez sur le marché réponde à la définition des compléments alimentaires au sens
        de l’article 2 du décret n°2006-352, ainsi qu’aux prescriptions du droit alimentaire qui leur sont applicables,
        notamment en matière d’hygiène (R(CE) n°852/2004), d’information du consommateur (R(UE) n°1169/2011) et de
        nouveaux aliments (R(UE) n°2015/2283). À cet égard, vous devez être en mesure de prouver que les ingrédients
        mis en œuvre disposent d’un historique de consommation dans l’Union européenne avant le 15 mai 1997 ou, à
        défaut, qu’ils ont été autorisés au titre du règlement (UE) n°2015/2283.
    </p>
    <p>
        Pour tout renseignement d’ordre général sur le cadre réglementaire applicable aux compléments alimentaires,
        rendez-vous sur le site de la DGAL à l’adresse suivante :
        <a href="https://agriculture.gouv.fr/quest-ce-quun-complement-alimentaire">
            https://agriculture.gouv.fr/quest-ce-quun-complement-alimentaire
        </a>.
    </p>
</div>
{% endblock %}
